/target/
!.mvn/wrapper/maven-wrapper.jar
/.mvn/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### 自定义
# Maven flatten-maven-plugin 生成的扁平化 POM(构建产物,不入库、不跟踪)
.flattened-pom.xml
pom-xml-flattened
